.*
~*
npm-debug.log
bower_components/*
!bower_components/js-xlsx
bower_components/js-xlsx/*
node_modules/*/
!node_modules/gulp
!node_modules/gulp-serve
config/*.yml
!.gitignore
!*.example
!bower_components/*/jszip.js
!bower_components/*/xlsx.js