@translateX: 2000px;
@colorCentralText: #e0fdff;
@bodyBackground: rgb(33, 87, 140);
@bodyBackgroundInActive: #F4F4F4;
@defaulColor: #434343;
@primaryTextColor: @bodyBackground;

@wrongBorderColor: rgb(222, 45, 45);

@answerBorderColor: rgb(199, 199, 199);
@answerBoxShadowColor: rgb(231, 231, 231);

@circleBackground: #DEDEDE;
@circleBorder: darken(@circleBackground, 20%);
@circleBoxShadowColor: darken(@circleBackground, 50%);

@circleBackgroundActive: rgb(26, 182, 232);
@circleBorderActive: darken(@circleBackgroundActive, 20%);
@circleBoxShadowColorActive: darken(@circleBackgroundActive, 50%);

@buttonFontSize: 22px;

.defaulStyle(){
  font-family: inherit;
  font-weight: inherit;
  font-size: inherit;
  box-sizing: border-box;

  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
}

html, body {
  .defaulStyle;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  overflow-y: auto;
  border-radius: 0;
  background-color: @bodyBackground;
  font-family: arial;
  font-size: 1em;
  color: @defaulColor;
  font-style: normal;
  text-align: center;
}
body.inActive{
  background: @bodyBackgroundInActive;
  transition: background 3s;
}

header{
  .defaulStyle;
  padding: 13px 0;
  margin: 0 7px;
  font-size: 38px;
  border-bottom: 4px solid rgba(33, 87, 140, 0.49);
}
footer{
  padding: 13px 0;
  margin: 0 7px;

}

button, input[type = "button"], input[type = "reset"], input[type = "submit"]{
  .defaulStyle;
}

.button{
  width: 70%;
  max-width: 600px;
  min-width: 100px;
  height: 60px;
  font-size: @buttonFontSize;
  cursor: pointer;
  outline: none;
  background-color: lighten(@bodyBackground, 1%);
  border: 1px solid darken(@bodyBackground, 10%);
  border-radius: 5px;
  color: @colorCentralText;
  box-shadow: 1px -1px 2px 0px darken(@bodyBackground, 15%);

  &:active{
    box-shadow: -1px 2px 4px 0px darken(@bodyBackground, 15%) inset;
    font-size: @buttonFontSize - 1px;
  }
}

.middle_cont{
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  top: 50%;
  margin-top: -75px;

  &.active{
    transition: all 1s;
    transition-delay: 2s;
    border: 1px solid @colorCentralText;
    border-radius: 10px;
    box-shadow: 0px 0px 60px 1px #25405A;

    &.test{
      transition: width 0s, all 1s;
      transition-delay: 0s;
      width: 100%;
      max-width: 1024px;
      top: 0;
      margin-top: 0;

      .central_text{
        padding-top: 0;
      }
      .middle_button_block{
        display: none;
      }
    }
  }


  .middle_button_block{
    padding-bottom: 50px;
  }

  .central_text{
    opacity: 0;
    transform: translate(@translateX, 0);
    padding-top: 25px;
    transition: all 1s;
    &.active{
      transition-delay: 1s;
      font-size: 8em;
      font-weight: 700;
      background: @bodyBackground;
      border-top-left-radius: 8px;
      border-top-right-radius: 8px;
      color: @colorCentralText;
      opacity: 1;
      height: 150px;
      transform: translate(0,0);
      text-shadow: 0px 0px 13px #081381;
    }
  }
  .central_button{
    opacity: 0;
    transform: translate(-@translateX, 0);
    transition: all 1s, box-shadow 4s, width 3s;
    &.active{
      transition-delay: 1s;
      box-sizing: border-box;
      background-color: lighten(@bodyBackground, 1%);
      border: 0px solid #3386d8;
      border-radius: 5px;
      color: @colorCentralText;
      opacity: 1;
      width: 80%;
      height: 70px;
      transform: translate(0,0);
      box-shadow: 0 0 10px 1px @colorCentralText;
      //text-shadow: 0px 0px 13px #081381;
    }

    &:active{
      box-shadow: -1px -1px 2px 1px @colorCentralText inset;
      transition: all 0s;
    }
  }
  .tests_cont {
    position: fixed;
    //min-height: 300px;
    border-radius: 5px;
    background: #F9F9F9;
    padding: 0 15px;
    color: @bodyBackground;
    transform: translate(0px, 10000px);

    &.show {
      position: relative;
      transition: 2s;
      transform: translate(0px, 0px);
      box-shadow: 0 -2px 2px 1px rgb(248, 248, 248);
    }

    .test_cases{
      overflow: hidden;
      position: relative;
      .test_case{
        position: relative;
        top: 0;
        left: 0;
        box-sizing: border-box;
        box-shadow: 0px 0px 15px 0px #434343 inset;
        height: 0;
        transition: 1s;
        &:first-child{
          transform: translate(-1500px, 0px);
        }
        &:last-child{
          transform: translate(1500px, 0px);
        }

        &.active{
          position: relative;
          height: auto;
          transition: 1.5s;
          transform: translate( 0px, 0px);
          box-shadow: none;
        }
      }
    }

    //answers
    .answers{
      padding: 0 15px;
      padding-bottom: 5px;

      .answer{
        border: 1px solid @answerBorderColor;
        border-radius: 5px;
        margin: 10px 0;
        text-align: left;
        font-size: 22px;
        vertical-align: middle;
        box-shadow: 1px 1px 0px 0px @answerBoxShadowColor;
        user-select: none;

        .answerText{
          display: inline-block;
          width: 100%;
          line-height: 2.5em;
          cursor: pointer;
        }
        .checkbox{
          position: absolute;
          clip: rect(1px,1px,1px,1px);
        }
        .check{
          display: inline-block;
          width: 50px;
          position: absolute;
          text-align: center;

          .circle{
            display: inline-block;
            height: 25px;
            width: 25px;
            border-radius: 25px;
            border: 1px solid @circleBorder;
            background: @circleBackground;
            vertical-align: middle;
            box-shadow: 0px 1px 5px 0px @circleBoxShadowColor inset;
            transition: all 0.5s;
          }
        }
        .checkbox:checked+.answerText .check .circle{
          border: 1px solid @circleBorderActive;
          background: @circleBackgroundActive;
          box-shadow: 0px 1px 5px 0px @circleBoxShadowColorActive inset;
        }
        .text{
          border-left: 1px solid @answerBorderColor;
          padding: 0px 10px;
          margin-left: 50px;
          display: inline-block;
          user-select: initial;
        }
      }
    }


    .reportBlock{
      box-sizing: border-box;
      margin: 5px 5px;
      border: 1px solid @answerBorderColor;
      border-radius: 5px;
      &.rightBlock{
        border-color: @primaryTextColor;
      }

      .header{
        font-size: 20px;
        line-height: 40px;
      }

      .answer{
        &.wrong{
          border-color: @wrongBorderColor;
        }

        .answerText {
          line-height: 25px;
          height: 30px;
        }

        .check{
          line-height: 25px;
          height: 30px;
          &.labelCheck{
            left: 90px;
          }
          &.active .circle{
            border: 1px solid @circleBorderActive;
            background: @circleBackgroundActive;
            box-shadow: 0px 1px 5px 0px @circleBoxShadowColorActive inset;
          }
        }
        .text{
          padding: 0 10px 0 50px;
          font-size: 16px;
          line-height: 25px;
        }
      }
    }
  }
}

.show{
  display: block;
}
.hide{
  display: none;
}