html,
body {
  font-family: inherit;
  font-weight: inherit;
  font-size: inherit;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  -webkit-border-radius: 0;
          border-radius: 0;
  background-color: #21578c;
  font-family: arial;
  font-size: 1em;
  color: #434343;
  font-style: normal;
  text-align: center;
}
header {
  font-family: inherit;
  font-weight: inherit;
  font-size: inherit;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  padding: 13px 0;
  margin: 0 7px;
  font-size: 38px;
  border-bottom: 4px solid rgba(33, 87, 140, 0.49);
}
footer {
  padding: 13px 0;
  margin: 0 7px;
}
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  font-family: inherit;
  font-weight: inherit;
  font-size: inherit;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
}
.button {
  width: 70%;
  max-width: 600px;
  min-width: 100px;
  height: 60px;
  font-size: 22px;
  cursor: pointer;
  outline: none;
  background-color: #225a90;
  border: 1px solid #173d63;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  color: #e0fdff;
}
.middle_cont {
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  top: 50%;
  margin-top: -75px;
}
.middle_cont.active {
  -webkit-transition: all 1s;
          transition: all 1s;
  -webkit-transition-delay: 2s;
          transition-delay: 2s;
  border: 1px solid #e0fdff;
  -webkit-border-radius: 10px;
          border-radius: 10px;
  -webkit-box-shadow: 0px 0px 60px 1px #25405A;
          box-shadow: 0px 0px 60px 1px #25405A;
}
.middle_cont.active.test {
  -webkit-transition: width 0s, all 1s;
          transition: width 0s, all 1s;
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
  width: 100%;
  max-width: 1024px;
  top: 0;
  margin-top: 0;
}
.middle_cont.active.test .central_text {
  padding-top: 0;
}
.middle_cont.active.test .middle_button_block {
  display: none;
}
.middle_cont .middle_button_block {
  padding-bottom: 50px;
}
.middle_cont .central_text {
  opacity: 0;
  -webkit-transform: translate(2000px, 0);
      -ms-transform: translate(2000px, 0);
          transform: translate(2000px, 0);
  padding-top: 25px;
  -webkit-transition: all 1s;
          transition: all 1s;
}
.middle_cont .central_text.active {
  -webkit-transition-delay: 1s;
          transition-delay: 1s;
  font-size: 8em;
  font-weight: 700;
  color: #e0fdff;
  opacity: 1;
  height: 150px;
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
          transform: translate(0, 0);
  text-shadow: 0px 0px 13px #081381;
}
.middle_cont .central_button {
  opacity: 0;
  -webkit-transform: translate(-2000px, 0);
      -ms-transform: translate(-2000px, 0);
          transform: translate(-2000px, 0);
  -webkit-transition: all 1s, -webkit-box-shadow 4s, width 3s;
          transition: all 1s, box-shadow 4s, width 3s;
}
.middle_cont .central_button.active {
  -webkit-transition-delay: 1s;
          transition-delay: 1s;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #225a90;
  border: 0px solid #3386d8;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  color: #e0fdff;
  opacity: 1;
  width: 80%;
  height: 70px;
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
          transform: translate(0, 0);
  -webkit-box-shadow: 0 0 10px 1px #e0fdff;
          box-shadow: 0 0 10px 1px #e0fdff;
}
.middle_cont .central_button:active {
  -webkit-box-shadow: -1px -1px 2px 1px #e0fdff inset;
          box-shadow: -1px -1px 2px 1px #e0fdff inset;
  -webkit-transition: all 0s;
          transition: all 0s;
}
.middle_cont .tests_cont {
  position: fixed;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  background: #F9F9F9;
  padding: 0 15px;
  color: #21578c;
  -webkit-transform: translate(0px, 10000px);
      -ms-transform: translate(0px, 10000px);
          transform: translate(0px, 10000px);
}
.middle_cont .tests_cont.show {
  position: relative;
  -webkit-transition: 2s;
          transition: 2s;
  -webkit-transform: translate(0px, 0px);
      -ms-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
  -webkit-box-shadow: 0 -2px 2px 1px #f8f8f8;
          box-shadow: 0 -2px 2px 1px #f8f8f8;
}
.show {
  display: block;
}
.hide {
  display: none;
}
