@translateX: 2000px;
@colorCentralText: #e0fdff;
@bodyBackground: rgb(33, 87, 140);
@defaulColor: #434343;

.defaulStyle(){
  font-family: inherit;
  font-weight: inherit;
  font-size: inherit;
  box-sizing: border-box;

  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
}

html, body {
  .defaulStyle;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  border-radius: 0;
  background-color: @bodyBackground;
  font-family: arial;
  font-size: 1em;
  color: @defaulColor;
  font-style: normal;
  text-align: center;
}

header{
  .defaulStyle;
  padding: 13px 0;
  margin: 0 7px;
  font-size: 38px;
  border-bottom: 4px solid rgba(33, 87, 140, 0.49);
}
footer{
  padding: 13px 0;
  margin: 0 7px;

}

button, input[type = "button"], input[type = "reset"], input[type = "submit"]{
  .defaulStyle;
}

.button{
  width: 70%;
  max-width: 600px;
  min-width: 100px;
  height: 60px;
  font-size: 22px;
  cursor: pointer;
  outline: none;
  background-color: lighten(@bodyBackground, 1%);
  border: 1px solid darken(@bodyBackground, 10%);
  border-radius: 5px;
  color: @colorCentralText;
}

.middle_cont{
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  top: 50%;
  margin-top: -75px;

  &.active{
    transition: all 1s;
    transition-delay: 2s;
    border: 1px solid @colorCentralText;
    border-radius: 10px;
    box-shadow: 0px 0px 60px 1px #25405A;

    &.test{
      transition: width 0s, all 1s;
      transition-delay: 0s;
      width: 100%;
      max-width: 1024px;
      top: 0;
      margin-top: 0;

      .central_text{
        padding-top: 0;
      }
      .middle_button_block{
        display: none;
      }
    }
  }


  .middle_button_block{
    padding-bottom: 50px;
  }

  .central_text{
    opacity: 0;
    transform: translate(@translateX, 0);
    padding-top: 25px;
    transition: all 1s;
    &.active{
      transition-delay: 1s;
      font-size: 8em;
      font-weight: 700;
      color: @colorCentralText;
      opacity: 1;
      height: 150px;
      transform: translate(0,0);
      text-shadow: 0px 0px 13px #081381;
    }
  }
  .central_button{
    opacity: 0;
    transform: translate(-@translateX, 0);
    transition: all 1s, box-shadow 4s, width 3s;
    &.active{
      transition-delay: 1s;
      box-sizing: border-box;
      background-color: lighten(@bodyBackground, 1%);
      border: 0px solid #3386d8;
      border-radius: 5px;
      color: @colorCentralText;
      opacity: 1;
      width: 80%;
      height: 70px;
      transform: translate(0,0);
      box-shadow: 0 0 10px 1px @colorCentralText;
      //text-shadow: 0px 0px 13px #081381;
    }

    &:active{
      box-shadow: -1px -1px 2px 1px @colorCentralText inset;
      transition: all 0s;
    }
  }
  .tests_cont {
    position: fixed;
    //min-height: 300px;
    border-radius: 5px;
    background: #F9F9F9;
    padding: 0 15px;
    color: @bodyBackground;
    transform: translate(0px, 10000px);

    &.show {
      position: relative;
      transition: 2s;
      transform: translate(0px, 0px);
      box-shadow: 0 -2px 2px 1px rgb(248, 248, 248);
    }


    //answers
    .answers{
      padding: 0 15px;

      .answer{
        padding: 10px 0;
        border: 1px solid;
        border-radius: 5px;
        margin: 5px 0;
        text-align: left;
        font-size: 22px;
        vertical-align: middle;

        .checkbox{
          position: absolute;
          display: none;
        }
        .check{
          display: inline-block;
          width: 50px;
          height: 50px;
        }
        .text{
          display: inline-block;
        }
      }
    }
  }
}

.show{
  display: block;
}
.hide{
  display: none;
}